.pkskillfield {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}


.pkskillfield > * {
    display: inline-block;
}

.pkskillfield button, .pkskillfield input {
    text-align: center !important;
}

.pkskillfield .pkskillfield_container {
    width: 25px;
}

.pkskillfield .pkskillfield_label {
    margin-left: 2px;
    white-space: nowrap;

    &.clickable:hover {
        color: blue;
    }
}

.pkskillsfieldcontainer {
    padding: 5;
    margin: 5;
    border: 3px solid black;
}