
.eval_container {

    display: inline-block;
    font-size: 16px;

    .total {
        font-weight: bold;
    }

    .annex_string {
        color: black;     
    }

    .annex_literal_fixed {
        color: black;
    }
}

.eval_error_short {
    display: inline-block;
    font-size: 16px;
    color: red;
    font-weight: bold;
}

.diceroll_container {

    .diceroll {

        display: inline-block;

        border: 2px solid black;

        margin: 2px;
        padding: 1px;

        height: 20px;
        min-width: 20px;

        text-align: center;

        &.ignored {
            color: grey
        }

        &.crit_success {
            color: green;
        }

        &.crit_failure {
            color: red;
        }
    }

}