
body {
    margin: 0;
}

#main {

    box-sizing: border-box;

    height: 100vh;
    padding: 8px;

    display: grid;

    grid-template-columns: 1fr 300px;
    grid-template-rows: minmax(0,1fr);
}

#main_sheet {
    overflow-y: auto;
}

#main_chat {

    height: 100%;
    border: 3px solid black;
}

.pklayout { 
    width: 100%;
}

#heading_name_fields {
    margin: 5px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flex > * {
    
}

.flex > .flexchild_shrink {
    flex-shrink: 1;
    flex-grow: 0;
}

.flex > .flexchild_grow {
    flex-grow: 3;
}

.layout_fixedcol {
    width: 300px;
    min-width: 300px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.pkattrbox_container {
    margin: 10;
    background-color: #ccc;
}

.character_name {
    min-width: 160px;
}

.pkcharsheet_checkboxes_container {
    display: flex;
    flex-direction: row;
    > *:not(:last-child) {
        margin-right: 5px;
    }
}

.pkeditmodetoggle {

    display: flex;

    align-items: center;

    flex-direction: row-reverse;
    justify-content: flex-end;

    label {
        font-family: sans-serif;
        font-size: 16px;
    }

    input {
        margin: 0 4px 0 0;
    }
}